<div>
    <h2 id="page-heading">
        <span>Zones</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zone" [routerLink]="['/zone/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Zone
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="zones?.length === 0">
        <span>No zones found</span>
    </div>
    <div class="table-responsive" *ngIf="zones?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th><span>X 1</span></th>
            <th><span>Y 1</span></th>
            <th><span>X 2</span></th>
            <th><span>Y 2</span></th>
            <th><span>Camera</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zone of zones ;trackBy: trackId">
                <td><a [routerLink]="['/zone', zone.id, 'view' ]">{{zone.id}}</a></td>
                <td>{{zone.identifier}}</td>
                <td>{{zone.x1}}</td>
                <td>{{zone.y1}}</td>
                <td>{{zone.x2}}</td>
                <td>{{zone.y2}}</td>
                <td>
                    <div *ngIf="zone.camera">
                        <a [routerLink]="['/camera', zone.camera?.id, 'view' ]" >{{zone.camera?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/zone', zone.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zone', zone.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zone', { outlets: { popup: zone.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
